.sideBar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
}

.logo img {
  width: 12rem;
}

.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
  height: 2.5rem;
  position: relative;
  transition: all 300ms ease;
  font-size: 16px;
  border-radius: 0.7rem;
}

.menuItem:hover {
  cursor: pointer;
}

.active {
  background: var(--activeItem);
  margin-left: 0;
}

.active::before {
  content: '';
  width: 8px;
  height: 100%;
  background: var(--pink);
  margin-right: calc(1rem - 8px);
}

.menu .menuItem:last-child {
  position: absolute;
  bottom: 5rem;
}
